---
import "../styles/global.css";
import logo from "../assets/images/nf-core-tfactivity_logo_light.png";
import AssayToggleButtons from "../components/AssayToggleButtons.astro";
---

<div class="flex justify-center py-8">
  <img src={logo.src} alt="nf-core/tfactivity Pipeline Logo" class="h-40 w-auto" />
</div>

<AssayToggleButtons />
